bdownload.py
manhwaocr.py
temp.py
/downloaded_images/
/test/
changelog.md
testui.py
**/__pycache__/
/md_splitter/
translated_manhwa.zip
generate-ascii-tree.py
/launcher/mmtl_launcher.exe
/launcher/launcher.exe
/launcher/nuitka.bash
/launcher/mmtl_launcher.build
/launcher/mmtl_launcher.dist
/launcher/mmtl_launcher.onefile-build
clean.bat