/downloaded_images/
/test/
changelog.md
**/__pycache__/
translated_manhwa.zip
generate-ascii-tree.py
/launcher/mmtl_launcher.exe
/launcher/launcher.exe
nuitka.bash
*.build
*.dist
*.onefile-build
nuitka-crash-report.xml
legacy/
clean.bat
test.py
.venv/
pyqt5