bdownload.py
manhwaocr.py
temp.py
/downloaded_images/
/test/
changelog.md
testui.py
**/__pycache__/
/md_splitter/
translated_manhwa.zip
generate-ascii-tree.py
/launcher/build/
/launcher/dist/
/launcher/mmtl_launcher.exe
/launcher/mmtl_launcher.spec